.login__wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
}

.form__container {
  padding: 1rem;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
}

.form__item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__item input {
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  color: var(--clr-midnight-green-eagle-green);
  margin: 0.2rem 0;
  border-radius: 2px;
  font-weight: 500;
}

.form__item label {
  color: #fff;
  font-size: 0.8rem;
  margin: 0.2rem 0 0 0;
}

input[type='submit'] {
  padding: 0.5rem 0.75rem;
  border-radius: 2px;
  margin: 0.5rem 0;
  color: #fff;
  background-color: crimson;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s ease-in all;
  font-size: 1.1rem;
}

input[type='submit']:hover {
  background: transparent;
  color: crimson;
  border: 2px solid crimson;
}

.under__text {
  width: 100%;
  margin-top: 1rem;
  font-weight: 500;
  color: #ccc;
  font-size: 0.8rem;
  text-align: center;
}

.under__text span {
  font-size: 1rem;
  cursor: pointer;
}

.under__text span:hover {
  color: #fff;
  text-decoration: underline;
  transition: 0.2s ease-in all;
}

.title {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
}
