@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --clr-skobeloff: #006466ff;
  --clr-midnight-green-eagle-green: #065a60ff;
  --clr-midnight-green-eagle-green-2: #0b525bff;
  --clr-midnight-green-eagle-green-3: #144552ff;
  --clr-charcoal: #1b3a4bff;
  --clr-prussian-blue: #212f45ff;
  --clr-space-cadet: #272640ff;
  --clr-dark-purple: #312244ff;
  --clr-dark-purple-2: #3e1f47ff;
  --clr-palatinate-purple: #4d194dff;
}

body {
  background-color: var(--clr-prussian-blue);
  width: 100%;
  min-height: 100vh;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.display-hide {
  display: none !important;
}
